.ai-scopus {
  --global-text-color: #f46c24;
}
.ai-orcid {
  --global-text-color: #a6ce39;
}
.ai-google-scholar {
  --global-text-color: #2962ff;
}
.fa-github-square {
  --global-text-color: #24292e;
}
.fa-linkedin {
  --global-text-color: #0a66c2;
}
.fa-twitter-square {
  --global-text-color: #1da1f2;
}
.ai-inspire {
  --global-text-color: #001529;
}
.ai-arxiv {
  --global-text-color: #b31b1b;
}
.ai-researchgate {
  --global-text-color: #00cab9;
}
