---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.ai-scopus{
  --global-text-color: #f46c24;
}
.ai-orcid{
  --global-text-color: #a6ce39;
}
.ai-google-scholar{
  --global-text-color: #2962ff;
}
.fa-github-square{
  --global-text-color: #24292e;
}
.fa-linkedin{
  --global-text-color: #0A66C2;
}
.fa-twitter-square{
  --global-text-color: #1DA1F2;
}
.ai-inspire{
  -global-text-color: #001529;
}